---
title: Los eventos anteriores
---

%main{role: "main"}
  %h2.title
    %a{href: "https://www.youtube.com/@valenciadevops", target: "_blank"} Eventos anteriores en youtube

  %h2= data.static[:past_title]

  - data.archive[:meetups].each do |m|
    %h2.section_title
      <!-- = data.static[:week_day] -->
      = m[:date]

      - if m[:hangout_url]
        %a{href: m[:hangout_url], class: "ico hangout", target: "_blank"} #{m[:hangout_url]}

    %section{class: m[:type]}
      - m[:talks].each do |f|
        %article
          %h3!= f[:title]
          - f[:author].each do |t|
            %p
              = t[:name]
              - twitter_handle = t[:twitter] ? "@#{t[:twitter]}" : ""
              %a{href: "https://x.com/#{t[:twitter]}", target: "_blank"} #{twitter_handle}

          - f[:text].each do |t|
            %p= t

          - if f[:links]
            - f[:links].each do |t|
              %p.links
                %a{href: t[:url], target: "_blank"} #{t[:label]}

      - if m[:sponsor]
        %div
          %h3= data.static[:sponsor]
          %a{href: m[:sponsor][:url], title: n[:sponsor][:name], target: "_blank"} image_tag("sponsors/"+m[:sponsor][:image])
