%footer
  .fgroup
    .first
      %h3= data.static[:participate]
      %p
        =data.static[:participate_how]
        %a{href: "mailto:#{data.static[:participate_email]}"} #{data.static[:participate_email]}

    .middle
      %h3= data.static[:follow]
      %p
        %a{href: data.static[:twitter_url], title: "#{data.static[:twitter_account]} on Twitter", target: "_blank", alt: "twitter", class: "twitter" } @#{data.static[:twitter_account]}
      %p
        %a{href: "https://x.com/search?q=%23#{data.static[:twitter_hashtag]}", title: "Hashtag ##{data.static[:twitter_hashtag]}", target: "_blank", alt: "twitter", class: "twitter" } ##{data.static[:twitter_hashtag]}
      %p
        %a{href: "https://www.youtube.com/@#{data.static[:twitter_account]}", title: "Youtube channel", target: "_blank", class: "youtube" } #{data.static[:twitter_hashtag]}
      %p
        %a{href: "https://www.meetup.com/valencia-devops", title: "Meetup group", target: "_blank", alt: "meetup", class: "meetup" } valencia-devops
      %p
        %a{href: "https://github.com/valenciadevops/valenciadevops.github.io", title: "Github", target: "_blank", alt: "GitHub", class: "github" } Github

    .last
      %h3= data.static[:partner]
      %p
        %a{href: data.static[:partner_url], title: data.static[:partner_url_title], class: "partner ir", alt: "Flywire", target: "_blank"} data.static[:partner_name]
