%footer
  .fgroup
    .first
      %h3= data.static[:participate]
      %p
        =data.static[:participate_how]
        %a{href: "mailto:#{data.static[:participate_email]}"} #{data.static[:participate_email]}

    .middle
      %h3= data.static[:follow]
      %p
        %a{href: data.static[:twitter_url], title: "#{data.static[:twitter_account]} on Twitter", target: "_blank", class: "twitter" } @#{data.static[:twitter_account]}
      %p
        %a{href: "#{data.static[:hashtag_url]}#{data.static[:twitter_hashtag]}", title: "Hashtag ##{data.static[:twitter_hashtag]}", target: "_blank", class: "twitter" } ##{data.static[:twitter_hashtag]}
      %p
        %a{href: data.static[:youtube_channel_url], title: "Youtube channel", target: "_blank", class: "youtube" } #{data.static[:twitter_hashtag]}
      %p
        %a{href: data.static[:meetup_url], title: "Meetup group", target: "_blank", class: "meetup" } valencia-devops
      %p
        %a{href: data.static[:github_repo_url], title: "Github", target: "_blank", class: "github" } Github

    .last
      %h3= data.static[:partner]
      %p
        %a{href: data.static[:partner_url], title: data.static[:partner_url_title], class: "partner ir", target: "_blank"} data.static[:partner_name]
