!!!
%html{lang: "es"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv": "X-UA-Compatible"}/
    %title
      \DevOps Valencia: #{@item[:title]}
    %meta{content: data.static[:meta_description], name: "description"}/
    %meta{content: "Devops Valencia crew", name: "author"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %meta{content: "#{data.static[:site_url]}/", property: "og:url"}/
    %meta{content: data.static[:h1_title], property: "og:title"}/
    %meta{content: "#{data.static[:site_url]}/images/logo.png", property: "og:image"}/
    %meta{content: data.static[:meta_description], property: "og:description"}/
    %meta{content: data.static[:google_site_verification], name: "google-site-verification" }/
    %meta{content: "default-src 'self'; script-src 'none'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; frame-src 'none'; object-src 'none'; base-uri 'self'", "http-equiv": "Content-Security-Policy"}/
    %meta{content: "strict-origin-when-cross-origin", "http-equiv": "Referrer-Policy"}/
    %link{rel: "icon", href: "/favicon.ico", sizes: "any"}/
    %link{rel: "preload", as: "font", href: "/fonts/rambla-v4-latin-regular.woff", type: "font/woff", crossorigin: true}
    %link{rel: "preload", as: "font", href: "/fonts/rambla-v4-latin-regular.woff2", type: "font/woff2", crossorigin: true}
    %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/all.css", media: "screen"}
  %body
    != render '/partials/_header.*'
    != yield
    != render '/partials/_footer.*'
